@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap');
/* font-family: 'Lato', sans-serif; */

/********** 공통사항 **********/
body {font-family: 'Lato', sans-serif; height: 5000px;}
.wrapper {max-width: 980px; margin: auto; padding: 40px 16px;}
.wrapper > .title {text-align: center; font-size: 24px; font-weight: normal; padding: 16px 0;}
.wrapper > .slogan {text-align: center; font-size: 16px; font-weight: normal; padding: 16px 0; font-style: italic; line-height: 150%;}
.wrapper > .desc {line-height: 150%; padding: 16px 0;}
.banner {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}
.banner > h2 {font-weight: normal; font-size: 36px; letter-spacing: 10px; color: #fff; text-align: center; padding: 200px 0;}


/********** header **********/
.header {color: #555; position: fixed; z-index: 99; width: 100%; background-color: #fff; box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);}
.navi-wrap {float: left;}
.navi-wrap > a {padding: 16px; float: left; color: inherit; text-decoration: none;} 
.navi-wrap > a:hover {color: #000; background-color: #ccc;} 
.navi-wrap > a:not(:first-child) {display: none;}
.search-wrap {float: right;}
.search-wrap > .fa-bars {padding: 16px; cursor: pointer;} 
.search-wrap > .fa-bars:hover {background-color: #000; color: #fff;} 
.search-wrap > .fa-search {padding: 16px; cursor: pointer; display: none;} 
.search-wrap > .fa-search:hover {background-color: #f21; color: #fff;} 

/********** main-wrap **********/
.main-wrap {
	height: 100vh; opacity: 0.75; position: relative;
	/* background: url('../img/parallax1.jpg') no-repeat center;	 */
	background-image: url('../img/parallax1.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;	
}
.main-logo {width: 100%; position: absolute; text-align: center; color: #fff; 
	font-weight: normal; top: 50%; transform: translateY(-50%); letter-spacing: 10px;}
.main-logo > div {background-color: #000; padding: 12px 24px; display: inline-block;}
.main-logo span {display: none;}


/********** about-wrap **********/
.about-wrap {color: #888;}
.abouts {padding: 16px 0;}
.abouts > article {width: 100%; float: left; padding: 16px;}
.abouts > .photo > h4 {margin-bottom: 48px; text-align: center;}
.abouts .fa-user {margin-right: 16px;}
.abouts > .photo > img {border-radius: 5px; opacity: 0.6;}
.abouts > .photo > img:hover {opacity: 1;}
.abouts > .about {display: none; line-height: 150%;}

.skills > h4 {text-align: center; font-size: 18px; font-weight: normal; margin-bottom: 24px;}
.skill > h5 {font-weight: normal; letter-spacing: 10px; font-size: 16px; padding: 16px 0;}
.skill > .bars {background-color: #ccc;}
.skill > .bars > .bar {background-color: #555; color: #fff; padding: 8px; 
	text-align: center;}
.skill-grp > :nth-child(1) .bar {width: 90%;}
.skill-grp > :nth-child(2) .bar {width: 85%;}
.skill-grp > :nth-child(3) .bar {width: 75%;}

/********** pf-wrap **********/
.pf-wrap {padding: 16px 0;}
.prjs {background-color: #666; color: #fff; text-align: center;}
.prj {width: 100%; float: left; padding: 36px 0;}
.prj > h3 {font-size: 24px; margin-bottom: 8px;}
.pf-banner {background-image: url('../img/parallax2.jpg');}
.works {color: #888;}
.work {width: 100%; float: left;}
.work:hover {opacity: 0.7;}
.pf-wrap .bts {text-align: center; padding: 32px 0;}
.bt-load {border: none; background-color: #eee; color: #000; padding: 16px; cursor: pointer;}
.bt-load:hover {background-color: #ccc;}

/********** contact-wrap **********/
.contact-banner {background-image: url('../img/parallax3.jpg');}
.contacts {color: #888;}
.map {float: left; width: 100%;}
.map > img {border-radius: 5px;}
.contact-form {float: right; width: 100%;}
.info {padding: 8px 0; font-size: 20px;}
.info > .fa {width: 30px;}
.info > .fa:hover {color: #000;}
.contact-form > p {padding: 16px 0;}
.contact-form > p > .fa {font-size: 14px;}
.contact-form input {border: 1px solid #aaa; padding: 16px; 
	width: 100%; margin-bottom: 1%; float: left;}
.contact-form .bts {padding-top: 8px; text-align: right;}
.contact-form .bt-send {border: none; padding: 16px; font-size: 16px; color: #fff; background-color: #000; cursor: pointer;}
.contact-form .bt-send:hover {background-color: #eee; color: #000;}

/********** footer **********/


/********** 반응형 **********/
@media screen and (min-width: 576px) {
	.navi-wrap > a:not(:first-child) {display: block;} 
	.search-wrap > .fa-bars {display: none;}
	.search-wrap > .fa-search {display: block;}
	.main-logo span {display: inline;}
	.abouts > article {width: 50%;}
	.abouts > .about {display: block;}
	.prj {width: 50%;}
	.work {width: 48%; margin: 1%;}
}

@media screen and (min-width: 768px) {
	.prj {width: 25%;}
	.work {width: 23%; margin: 1%;}
	.map {width: 30%;}
	.contact-form {width: 70%; padding-left: 32px;}
	.contact-form input[name='name'] {width: 49%; margin-right: 1%;}
	.contact-form input[name='email'] {width: 49%; margin-left: 1%;}
}

@media screen and (min-width: 992px) {

}