@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap');
/* font-family: 'Lato', sans-serif; */

/********** 공통사항 **********/
body {font-family: 'Lato', sans-serif; height: 5000px;}


/********** header **********/
.header {color: #555;}
.navi-wrap {float: left;}
.navi-wrap > a {padding: 16px; float: left; color: inherit; text-decoration: none;} 
.navi-wrap > a:hover {color: #000; background-color: #ccc;} 
.navi-wrap > a:not(:first-child) {display: none;} 

/********** main-wrap **********/


/********** about-wrap **********/


/********** pf-wrap **********/


/********** contact-wrap **********/


/********** footer **********/


/********** 반응형 **********/
@media screen and (min-width: 576px) {
	.navi-wrap > a:not(:first-child) {display: block;} 
}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 992px) {

}